

.main-panel {
}



.layerpanel{

}

.layerbox {
	-fx-border-color:gray;
}

.colorbox{
	-fx-border-color:gray;
}


.effectView{
	
	-fx-background-color:whitesmoke;
	
}

.effectView .pileViewTitle{
	-fx-text-fill:darkslategray;
	-fx-font-size:1.5em;
}



.stackpane{
	-fx-background-color:darkslategray;

}

